.percentage {
    text-align: right;
    padding-right: 2%;
    font-size: 15px;
    font-weight: bold;
}

.bar {
    padding-left: 2%;
    max-width: 98%;
}

.divv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 22.5%;
    padding-left: 2%;
    padding-top: 1%;
   
}